In [8]:
# Main imports
import math
import numpy as np
import pandas as pd
import pandas_datareader as web
import matplotlib.pyplot as plt

plt.style.use('fivethirtyeight')

In [9]:
# Read Data
df = web.DataReader('AAPL', data_source='yahoo', start='2012-01-01', end='2019-12-17')
df

                 High        Low       Open      Close       Volume  Adj Close
Date
2012-01-03  14.732143  14.607143  14.621429  14.686786  302220800.0  12.610313
2012-01-04  14.810000  14.617143  14.642857  14.765714  260022000.0  12.678081
2012-01-05  14.948214  14.738214  14.819643  14.929643  271269600.0  12.818840
2012-01-06  15.098214  14.972143  14.991786  15.085714  318292800.0  12.952842
2012-01-09  15.276786  15.048214  15.196429  15.061786  394024400.0  12.932296
...               ...        ...        ...        ...          ...        ...
2019-12-11  67.775002  67.125000  67.202499  67.692497   78756800.0  66.799049
2019-12-12  68.139999  66.830002  66.945000  67.864998  137310400.0  66.969284
2019-12-13  68.824997  67.732498  67.864998  68.787498  133587600.0  67.879608
2019-12-16  70.197502  69.245003  69.250000  69.964996  128186000.0  69.041557
2019-12-17  70.442497  69.699997  69.892502  70.102501  114158400.0  69.177246

[2003 rows x 6 columns]